body {
    width: 100%;
    margin: auto;
    height: 2000px;
}

* {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 30px;
    background-color: #515151;
    display: inline-block;
}

.banner {
    height: 600px;
    margin-top: 30px;
    background-image: url(/切图/banner.png);
}

h3 {
    position: relative;
}

.recom-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.after_h3::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 2px;
    background-color: #1a97e4;
    left: 0;
    bottom: -16px;
}


/* 轮播图 */

.square {
    position: absolute;
}

.square span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
}

.square span.current {
    background-color: #c5acac;
    color: #fff;
    border-radius: 50px;
    position: relative;
    top: 550px;
    left: 870px;
    margin: 10px;
}

.square span.current:hover {
    color: #1a97e4;
}


/* 悦知在线 */

.mid {
    width: 100%;
    height: 88px;
    background-color: #fff;
}

.yuezhi {
    margin-left: 400px;
    margin-top: 20px;
    display: inline-block;
}

.com {
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-top: -45px;
}

.subject {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin: -30px;
    padding-left: 150px;
}

.sub {
    flex: 1;
}

a {
    text-decoration: none;
    color: #515151;
    /* padding: 26px; */
    /* margin-top: -55px; */
}

.search {
    position: absolute;
    margin-left: 560px;
    margin-top: 8px;
}

input {
    width: 300px;
    height: 32px;
    border-radius: 5px;
    color: #515151;
    border: 2px solid #1a97e4;
}

button {
    border: none;
    color: #fff;
    font-size: 16px;
}

.app {
    position: absolute;
    margin-left: 920px;
    margin-top: -22px;
}

.login {
    margin-left: 1000px;
    margin-top: 15px;
}

.register {
    margin-left: 1100px;
    margin-top: -22px;
    color: #1a97e4;
}


/* 课程推荐 */

.recom {
    width: 1204px;
    height: 554px;
    border: 1px solid #fff;
    margin: 49px auto 101px auto;
}

.study {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.show {
    width: 1204px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.one {
    width: 280px;
    border-radius: 10px;
    text-align: center;
}


/* 鼠标移上去显示出来 */

.pic {
    position: relative;
}

.now {
    position: absolute;
    top: 70px;
    left: 100px;
    display: none;
}

.now:hover {
    display: block;
}

.Moveout:hover #content {
    display: block;
}

.one:hover {
    display: block;
    background-image: url();
}

.one img {
    width: 280px;
    height: 180px;
}

.one p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.line {
    border: 1px solid #ac9999;
}

.stu {
    margin-top: 10px;
}

.free_left {
    position: relative;
    margin-top: 20px;
}

.free_left a {
    color: greenyellow;
}

.free_right {
    margin-top: 10px;
}

.free_right a {
    color: #515151;
}


/* 名师推荐 */

.teacher {
    width: 100%;
    height: 725px;
    border: 2px solid #515151;
    background-image: url(/切图/组10.png);
}

.teach {
    text-align: center;
    position: absolute;
    display: inline-block;
}

.tuijian_left {
    position: relative;
    left: 400px;
    top: 30px;
}

.tuijian_right {
    position: relative;
    left: 1240px;
    top: -30px;
}


/* 教师信息 */

.kk {
    width: 1128px;
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-top: 150px;
}

.teacher_info {
    width: 282px;
    height: 390px;
    border: 1px solid none;
    display: inline-block;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    flex: 1;
}

.Img {
    padding-left: 30px;
    flex-direction: row;
}

.info {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.myImg {
    padding-left: 65px;
    text-align: center;
}

.info p {
    margin-top: 20px;
    text-align: center;
}

.info p:nth-child(3) {
    color: #a39393;
    font-size: 16px;
    left: -50px;
    top: 50px;
}

.teacher_info {
    text-align: center;
}

img.round_icon {
    text-align: center;
}


/* 头像 */

.myImg {
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}

.round_icon {
    margin-top: 20px;
    width: 130px;
    height: 130px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.info button {
    position: relative;
    left: -20px;
    margin-top: 40px;
}


/* 精彩直播 */

.live {
    width: 1200px;
    height: 744px;
    border: 2px solid none;
    text-align: center;
    margin: auto;
}

.live_jingcai {
    width: 1200px;
    height: 100px;
    position: relative;
    border: 2px solid none;
}

.live_left {
    position: absolute;
    left: 15px;
    top: 55px;
}

.live_right {
    position: absolute;
    right: 300px;
    top: 70px;
}

.live_order img {
    width: 288px;
    height: 233px;
    text-align: center;
}

.live_order {
    text-align: center;
}

.live_mokuai p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.l_left {
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.live_mokuaiAll {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.live_mokuai {
    flex: 1;
    flex-wrap: wrap;
    box-shadow: 15px;
}


/* 火热圈子 */


/* .circle {
    text-align: center;
    width: 1330px;
    height: 280px;
    border: 2px solid red;
    background-image: url(/切图/a521212.png);
} */

.recom {
    background-color: #f9f9f9;
}

.school {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 136px;
    padding-left: 12px;
}

.school_name {
    flex: 1;
    text-align: center;
    width: 219px;
    height: 218px;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.school_name p {
    margin-top: 42px;
}

.school_name p:hover {
    text-decoration: underline;
}

.tianqiao {
    padding-top: 20px;
}

.bujv {
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 100px; */
}

.school {
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}


/* 合作学校 */

.box {
    width: 1204px;
    margin: 0 auto;
}

.box:after {
    content: '';
    height: 0;
    display: table;
    visibility: hidden;
    clear: both;
    zoom: 1;
}

.item {
    float: left;
    width: 20%;
    text-align: center;
}

.img {
    height: 219px;
    text-align: center;
    line-height: 219px;
}

.img img {
    vertical-align: middle;
}

.des {
    height: 30px;
    line-height: 30px;
    /* text-align: center; */
}


/* 底部 */

.bottom {
    background-image: url(/切图/组17.png);
    height: 204px;
}
.bottom img{
    width: 1204px;

}
.line_n:hover {
    text-decoration: underline;
}